<span *ngIf="!feed">Loadin...</span>
<div class="content" *ngIf="feed">
  <div>
    <h1>{{feed.title}}</h1>
    <span>{{feed.description}}</span><br>
    <span><a href="{{feed.url}}" target="_blank">{{feed.url}}</a></span>
  </div>
  <ul>
    <li *ngFor="let entry of feed.entries">
      <a target="_blank" href="{{entry.link}}">{{entry.title | slice:0:titleLen}}<span *ngIf="entry.title.length > titleLen">...</span></a><br>
      {{entry.description | slice:0:descLen}}<span *ngIf="entry.description.length > descLen">...</span>
      <hr />
    </li>
  </ul>
</div>

